{{! este partial debe manejar la modal al clickear el carrito y mostrar solo lo seleccionado }}
 

 <!-- Menu Handlebars -->
<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <div class="container-fluid d-flex justify-content-center align-items-center">
    <button type="button" class="btn btn-link" onclick="mostrarModal()">
        {{!-- botón al hacer click llama a la función mostrarModal de main.js  --}}
      <i
        class="fa-solid fas fa-cart-shopping cart-icon text-white"
        style="font-size: 2rem;"
      ></i>
    </button>
  </div>
</nav>
<div class="container mt-3">
  <h1 class="text-center">Bienvenido al MERCADO WEB, selecciona tus productos</h1>
</div>



<!-- Modal Carrito de Compras -->
<div
  class="modal fade"
  id="carritoModal"
  tabindex="-1"
  aria-labelledby="carritoModalLabel"
  aria-hidden="true"
>

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Productos Seleccionados</h3>
      </div>
      <div class="modal-body">
        Aquí se mostrarán los Productos Seleccionados:
         <div id="imagenesSeleccionadas"></div>
         {{!-- mostar dinámicamente los productos  --}}
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          onclick="cerrarModal()"  
          {{!-- funcion cerrar modal al hacer click --}}
        >Cerrar</button>

      </div>
    </div>
  </div>
</div> 

